/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; /*khi di chuyen thi no chay. nhu slide*/
}

/* nguyên tắc làm
1. từ trên xuống dưới
2. từ ngoài vào trong 
3. từ tổng quan đến chi tiết
*/


/* 1 vài câu hỏi khi tạo 1 trang web
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng (hình thức, kiểu chữ, ...) 
*/

/* common */
.clear {
    clear: both;
}

.text-white { /*thay thành chữ trắng*/
    color: #fff !important;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

    .btn:hover {
        color: #000;
        background-color: #ccc;
        cursor: pointer;
    }

.row {
    margin-left: -8px;
    margin-right: -8px;
}

    /* thêm element giả (thẻ div) sau thẻ row */
    .row::after {
        content: "";
        display: block;
        clear: both;
    }

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100% /3);
}

.col-half {
    width: calc(100% /2);
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}



/* main  */
#main {
}

/* phàn header  */
#header {
    /* width bằng luôn trình duyệt rồi */
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* cho bám dính vào, cmt right để thấy khác biệt */

    z-index: 1; /*để nó nổi lên đầu, ko bị cái ảnh 
        phần slider nó che, ko dc thì tăng lên
        hiểu là thuộc tính độ sâu*/
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none; /*kiểu chấm của list*/
}

    /* thuộc tính inline block chỉ ảnh hưởng đến thẻ li cấp 1 */
    #nav > li {
        display: inline-block;
    }

    #nav li {
        position: relative;
    }

    #nav > li > a {
        color: #fff;
        text-transform: capitalize; /*chữ hoa thường*/
    }

    #nav li a {
        text-decoration: none; /*gạch chân*/
        line-height: 46px;
        padding: 1px 24px 0 24px; /*để các chữ cách nhau trái phải 24px*/
        display: block; /*để có dạng block có kính thước bàng thẻ chứa nó (li)*/
    }

    /* di vào thẻ li để hiện tk con của nó */
    #nav li:hover .subnav {
        display: block;
    }

    /* selector gộp */
    #nav .subnav li:hover a,
    #nav > li:hover > a { /*khi ta hover vào thẻ cha chứa a thì tk con cũng dc hưởng*/
        color: #000;
        background-color: #ccc;
    }

    #nav .subnav {
        display: none; /*mặc định ko hiện*/
        min-width: 160px;
        position: absolute;
        top: 100%; /*cho chắc kèo nó nằm đúng vị trí*/
        left: 0px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        /* tạo bóng: trục x, trục y, độ lan tỏa của bóng, màu sắc */
    }

        #nav .subnav a {
            color: #000;
            padding: 0 12px;
            line-height: 38px;
        }

    #nav .nav_arrow {
        font-size: 14px;
        top: 50%;
    }

/*phần nút search*/
#header .menu_button {
    position: relative;
}

.menu_button .subnav {
    display: none;
    text-align: right;
    position: absolute;
    top: 100%;
    right: 0px;
    min-width: 140px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
}

.menu_button:hover .subnav {
    display: block;
}

.menu_button li a {
    text-decoration: none; /*gạch chân*/
    color: #000;
    line-height: 46px;
    padding: 1px 24px 0 24px; /*để các chữ cách nhau trái phải 24px*/
    display: block; /*để có dạng block có kính thước bàng thẻ chứa nó (li)*/
}

.menu_button .subnav li:hover a,
.menu_button > li:hover > a { /*khi ta hover vào thẻ cha chứa a thì tk con cũng dc hưởng*/
    color: #000;
    background-color: #ccc;
}


#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search_button,
#header .menu_button {
    float: right;
    line-height: 39px;
    padding: 0 21px;
    /* cursor: pointer; cho vào đây nếu ko có class hover */
}

#header .menu-icon,
#header .search-icon,
#header .menu_button {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

    #header .search_button:hover,
    #header .menu_button:hover {
        color: white;
        background-color: red;
        cursor: pointer;
    }

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

    #header .mobile-menu-btn:hover .menu-icon {
        color: #000;
    }

    #header .mobile-menu-btn:hover .menu-icon {
        color: #000;
    }


/* phần content */
#content table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#content {
    margin-top: 46px;
    padding: 64px;
    height: fit-content;
    /*background: url(../img/mainPage.png) top center / cover no-repeat;*/
    text-align: center;
}

    #content .inner_content {
        background: white;
        display: inline-block;
    }

.orderDetail {
    display: inline-block;
}

.Product {
    display: inline-block;
    border: 1px solid;
    width: fit-content;
}

.product-img {
    width: 400px;
    height: 500px;
    border-radius: 4px;
    position: relative;
}

.OrderForm {
    display: inline-block;
}

/*phan comment*/
.comment {
    background: #404040;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment_header {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #ccc964;
    height: 40px;
}

.bg_comment {
    padding: 10px;
    background: #171717;
    margin: 5px 0;
    border-radius: 10px;
}

.avata {
    width: 50px;
    position: relative;
    height: 50px;
    overflow: hidden;
    border: 3px solid #656565;
    border-radius: 10px;
}

.nickname {
    font-weight: 700;
    color: #669698;
    margin-right: 5px;
}

.cmt {
    padding: 5px 0 8px;
    word-break: break-all;
    color: #afaaaa;
}

.cmt_time {
    color: #7d7d7d;
    font-size: 12px;
}

.editBtn .insert_btn, .filter_btn {
    width: 100px;
    height: 32px;
    float: left;
    margin: 16px;
}

.editForm {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

    .editForm.open {
        display: flex;
    }

.editFormClose {
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

    .editFormClose:hover {
        background: red;
        color: white;
        cursor: pointer;
    }

.regist_Form, .AddProduct_Form {
    background: antiquewhite;
    padding: 16px;
}


/* phần footer */
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

    #footer .social-list {
        font-size: 30px;
    }

        #footer .social-list a {
            color: rgba(20, 8, 187, 0.6);
            text-decoration: none;
        }

            #footer .copyright a:hover,
            #footer .social-list a:hover {
                color: rgba(20, 8, 187, 0.3);
            }

    #footer .copyright {
        margin-top: 15px;
        color: rgba(20, 8, 187, 0.6);
    }

        #footer .copyright a {
            color: rgba(20, 8, 187, 0.6);
        }
